body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
}

.headertext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.body {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

.section {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    flex-shrink: 0;
    width: 400px;
    gap: 10px;
}

.maintext1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sectext1 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 8px;
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: 900;
    padding: 8px 16px;
    width: 25%;
}

.mountain {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    padding-bottom: 120px;
    padding-top: 120px;
}

img {
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
}