body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
}

.headertext {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.body {
    background-color: #1F2937;
    display: flex;
    gap: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.section {
    display: flex;
    flex-direction: column;
}

.maintext1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sectext1 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 8px;
    background-color: #3882F6;
}

.car {
    background-color: #1F2937;
    border-radius: 8px;
    max-width: 15%;
    max-height: 10%;
}